/* Fixed Header styles */
.header {
  position: fixed;
  top: 0;
  width: calc(100vw - 15px);
  height: 60px; /* 固定された高さ */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; /* コンテナがヘッダーの高さを満たす */
  padding: 0 20px; /* 左右のパディング */
}
.header-ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.header-li {
  margin: 0 15px;
}
.header-a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  line-height: 60px; /* テキストを中央に配置 */
}
